<!DOCTYPE html>
<html>

<head>
    <title>Historial</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h2>Historial de Vehículos</h2>
    <div style="margin-bottom:20px;">

        <input type="text" id="placaBuscar" placeholder="Buscar por placa">

        <button onclick="buscarHistorial()">Buscar</button>

        <button onclick="cargarHistorial()">Mostrar todos</button>

    </div>
    <table>

        <thead>

            <tr>
                <th>Placa</th>
                <th>Entrada</th>
                <th>Salida</th>
                <th>Observación</th>
            </tr>

        </thead>

        <tbody id="tabla">

        </tbody>

    </table>

    <script src="/js/historial.js"></script>

</body>

</html>