<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Autos Colombia</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <h2>Sistema Autos Colombia</h2>
        <p>Panel de control</p>

        <div class="menu">
            <a href="/entrada.html">🚗 Registrar Entrada</a>
            <a href="/salida.html">🚙 Registrar Salida</a>
            <a href="/historial.html">📋 Ver Historial</a>
            <a href="/usuarios.html">👤 Usuario</a>
            <a href="/pagos.html">⚖️ Pagos</a>
            <a href="/celdas.html">🚧 Celdas</a>
        </div>
    </div>
</body>
</html>
