<!DOCTYPE html>
<html>

<head>
    <title>Registrar Salida</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="container">

        <h2>Registrar Salida</h2>

        <input type="text" id="placa" placeholder="Placa">

        <input type="text" id="observacion" placeholder="Observación">

        <br>

        <button class="btn-salida" onclick="registrarSalida()">Registrar salida</button>

        <p id="mensaje"></p>

    </div>
    
    <script src="/js/salida.js"></script>

</body>

</html>